<footer>
    <div class="tt-footer-default tt-color-scheme-02">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="tt-newsletter-layout-01">
                        <div class="tt-newsletter">
                            <div class="tt-mobile-collapse">
                                <h4 class="tt-collapse-title">
                                    Giữ liên lạc với chúng tôi:
                                </h4>
                                <div class="tt-collapse-content">
                                    <form id="newsletterform" class="form-inline form-default" onsubmit="window.location.href='/verify-email'; return false;">
                                        <div class="form-group">
                                            <input type="text" name="email" class="form-control" placeholder="Nhập địa chỉ e-mail">
                                            <button type="submit" class="btn">NHẬN THÔNG BÁO</button>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <ul class="tt-social-icon">
                        <li><a class="icon-g-64" target="_blank" href="http://www.facebook.com/"></a></li>
                        <li><a class="icon-h-58" target="_blank" href="http://www.facebook.com/"></a></li>
                        <li><a class="icon-g-66" target="_blank" href="http://www.twitter.com/"></a></li>
                        <li><a class="icon-g-67" target="_blank" href="http://www.google.com/"></a></li>
                        <li><a class="icon-g-70" target="_blank" href="https://instagram.com/"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tt-footer-col tt-color-scheme-01">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-2 col-xl-3">
                    <div class="tt-mobile-collapse">
                        <h4 class="tt-collapse-title">
                            CATEGORIES
                        </h4>
                        <div class="tt-collapse-content">
                            <ul class="tt-list">
                                <li><a href="/products/Sách">Chính Trị-Xã Hội </a></li>
                                <li><a href="/products/Giáo%20Khoa">Khoa Học - Tri Thức</a></li>
                                <li><a href="/products/Thiếu%20Nhi">Văn Học - Tiểu Thuyết</a></li>
                                <li><a href="/products/Lịch%20Sử">Giáo Khoa - Giáo Trình</a></li>
                                <li><a href="/products/Văn%20Học">Kinh Tế - Quản Lý</a></li>
                                <li><a href="/products/Phụ%20Kiện">Nấu Ăn - Ẩm Thực</a></li>
                                <li><a href="/products/Kinh%20Tế">Tổng Hợp - Kiến Thức</a></li>
                                <li><a href="/products/Quản%20Lý">Thể loại Khác </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-xl-3">
                    <div class="tt-mobile-collapse">
                        <h4 class="tt-collapse-title">
                            Tài khoản của tôi
                        </h4>
                        <div class="tt-collapse-content">
                            <ul class="tt-list">
                                <li><a href="/shopping_cart">Giỏ hàng</a></li>
                                <li><a href="/login">Đăng nhập</a></li>
                                <li><a href="/create-account">Đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="tt-mobile-collapse">
                        <h4 class="tt-collapse-title">
                            Về WOKIEESTORE
                        </h4>
                        <div class="tt-collapse-content">
                            <p>
                                Bạn đang tìm kiếm sự chủ động trong việc lựa chọn sách? Hãy đến với wokieestore - nơi mà mỗi cuốn sách sẽ đưa bạn đến một thế giới mới. Chúng tôi cung cấp một loạt các thể loại sách từ văn học, khoa học đến sách thiếu nhi, đáp ứng mọi nhu cầu của bạn.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="tt-newsletter">
                        <div class="tt-mobile-collapse">
                            <h4 class="tt-collapse-title">
                                Liên hệ
                            </h4>
                            <div class="tt-collapse-content">
                                <address>
                                    <p><span>Chúng tôi là:</span> wokieestore </p>
                                    <p><span>Về chúng tôi:</span><a href="https://github.com/letuantai97">letuantai97</a></p>
                                    <p><span>E-mail:</span> <a href="mailto:tle06961@gmail.com">tle06961@gmail.com</a></p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tt-footer-custom">
        <div class="container">
            <div class="tt-row">
                <div class="tt-col-left">
                    <div class="tt-col-item tt-logo-col">
                        <!-- logo -->
                        <a class="tt-logo tt-logo-alignment" href="/">
                            <img  src="/images/custom/logo.png" alt="woieeshop Logo">
                        </a>
                        <!-- /logo -->
                    </div>
                    <div class="tt-col-item">
                        <!-- copyright -->
                        <div class="tt-box-copyright">
                            &copy; Lê Tuấn Tài-Trịnh Thị Tâm-Nguyễn Lê Thái An - Wokieestore
                        </div>
                        <!-- /copyright -->
                    </div>
                </div>
                <div class="tt-col-right">
                    <div class="tt-col-item">
                        <!-- payment-list -->
                        <ul class="tt-payment-list">
                            <li><a href="page404.html"><span class="icon-Stripe"></span></a></li>
                            <li><a href="page404.html"><span class="icon-paypal-2"></span></a></li>
                            <li><a href="page404.html"><span class="icon-visa"></span></a></li>
                            <li><a href="page404.html"><span class="icon-mastercard"></span></a></li>
                            <li><a href="page404.html"><span class="icon-discover"></span></a></li>
                            <li><a href="page404.html"><span class="icon-american-express"></span></a></li>
                        </ul>
                        <!-- /payment-list -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
